:root {
  --LightredOpaque: hsla(0, 100%, 67%, 0.1);
  --OrangeyyellowOpaque: hsla(39, 100%, 56%, 0.1);
  --GreentealOpaque: hsla(166, 100%, 37%, 0.1);
  --CobaltblueOpaque: hsla(234, 85%, 45%, 0.1);
  --DarkgrayblueOpaque: hsla(224, 30%, 27%, 0.5);
  --LightlavenderOpaque: hsla(241, 100%, 89%, 0.5);
  --Lightred: hsl(0, 100%, 67%);
  --Orangeyyellow: hsl(39, 100%, 56%);
  --Greenteal: hsl(166, 100%, 37%);
  --Cobaltblue: hsl(234, 85%, 45%);
  --White: hsl(0, 0%, 100%);
  --Paleblue: hsl(221, 100%, 96%);
  --Lightlavender: hsl(241, 100%, 89%);
  --Darkgrayblue: hsl(224, 30%, 27%);
}

* {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
  font-size: 18px;
  letter-spacing: 0.025rem;
}

.container {
  width: 50%;
  height: 50%;
  margin: 20vh auto;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 25px;
}

.left-side-card {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 55%;
  border-radius: 25px;
  text-align: center;
}

.your-result {
  color: var(--Lightlavender);
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 30px;
}

.circle-result {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  width: 175px;
  height: 175px;
  margin: 30px auto;
}

.number {
  color: var(--White);
  font-size: 3.5rem;
  font-weight: 800;
  padding-top: 40px;
}

.from-hundred {
  color: var(--LightlavenderOpaque);
}

.great {
  color: var(--White);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px;
}

.score-result {
  color: var(--Lightlavender);
  padding: 10px 55px;
}

.right-side-card {
  width: 45%;
  padding: 20px;
  margin: 0 20px;
  border-radius: 25px;
}

.summary-title {
  font-size: 22px;
}

.card-result {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  margin: 20px 0px;
  padding: 0 20px;
}

.image-description {
  display: flex;
  padding: 15px 0px;
}

.color-red {
  background-color: var(--LightredOpaque);
}

.color-yellow {
  background-color: var(--OrangeyyellowOpaque);
}

.color-green {
  background-color: var(--GreentealOpaque);
}

.color-blue {
  background-color: var(--CobaltblueOpaque);
}

.color-red-font {
  color: var(--Lightred);
  padding-left: 10px;
}

.color-yellow-font {
  color: var(--Orangeyyellow);
  padding-left: 10px;
}

.color-green-font {
  color: var(--Greenteal);
  padding-left: 10px;
}

.color-blue-font {
  color: var(--Cobaltblue);
  padding-left: 10px;
}

.hundred-result {
  color: var(--DarkgrayblueOpaque);
  padding: 15px 0px;
}

.bold-result {
  color: var(--Darkgrayblue);
  font-weight: 700;
}

button {
  background-color: var(--Darkgrayblue);
  border: var(--Darkgrayblue);
  color: var(--White);
  border-radius: 25px;
  width: 100%;
  margin-top: 20px;
  padding: 12px 0px;
}

button:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (max-width: 1150px) {
  .container {
    width: 55%;
    height: 50%;
    margin: 20vh auto;
  }
}

@media (max-width: 1050px) {
  .container {
    width: 65%;
    height: 50%;
    margin: 20vh auto;
  }
}

@media (max-width: 880px) {
  .container {
    width: 75%;
    height: 50%;
    margin: 20vh auto;
  }
}

@media (max-width: 750px) {
  .container {
    width: 100%;
    height: 50%;
    margin: 20vh auto;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    height: 100%;
    margin: 0px;
    box-shadow: 0;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    box-shadow: 0;
  }

  .left-side-card {
    width: 100%;
    border-radius: 0px 0px 25px 25px;
    text-align: center;
  }

  .your-result {
    font-size: 1rem;
    font-weight: 700;
    padding-top: 25px;
  }

  .circle-result {
    width: 135px;
    height: 135px;
    margin: 20px auto;
  }

  .number {
    color: var(--White);
    font-size: 2.75rem;
    padding-top: 30px;
  }

  .from-hundred {
    color: var(--LightlavenderOpaque);
    font-size: 0.75rem;
  }

  .great {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 5px;
  }

  .score-result {
    color: var(--Lightlavender);
    padding: 10px 55px;
    padding-bottom: 45px;
    font-size: 0.85rem;
  }

  .right-side-card {
    width: 80%;
    border-radius: 0px;
  }
}
