@font-face {
    font-family: Montserrat;
    src: url(https://fonts.google.com/specimen/Montserrat);
    font-family: Fraunces;
    src: url(https://fonts.google.com/specimen/Fraunces);

  }

.background {
    background-color: hsl(30, 38%, 92%);
  }
.container {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height:1000px;
    align-content: center;
    border-radius: 10px;
}

.image {
    width: 720px;
    height: 1000px;
}

.contents {
    background-color: hsl(0, 0%, 100%);
    font-family: Fraunces;

color: hsl(212, 21%, 14%);


}

.perfume {
    color: hsl(228, 12%, 48%);
    font-family:Fraunces ;
}

.title {
color: hsl(212, 21%, 14%);
font-family: Montserrat;
}

.notes {
    color: hsl(228, 12%, 48%);
    font-family:Fraunces ;
}

.prices {
    display: flex;
    flex-direction: row;
}

.offer-price {
    color:hsl(158, 36%, 37%);
    font-family: Montserrat;

}

.previous-price {
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
}

button {
    color: hsl(158, 36%, 37%);
    font-family: Fraunces;
    border-radius: 10px;
}