@font-face {
    font-family: Montserrat;
    src: url(https://fonts.google.com/specimen/Montserrat);
    font-family: Fraunces;
    src: url(https://fonts.google.com/specimen/Fraunces);

  }

.background {
    background-color: hsl(30, 38%, 92%);
  }
.container {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height:1000px;
    align-content: center;
    border-radius: 10px;
}

.image {
    width: 720px;
    height: 1000px;
}

.contents {
    background-color: hsl(0, 0%, 100%);

}

.prices {

}

button {

}