:root {
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}

body {
    font-family: 'Overpass', sans-serif;
}

.card-container {

}

.star-image {

}

.text-content {

}

.feedback-title {

}

.feedback-content {

}

.button-ratings {

}

.score {

}

.wide-button {

}
.submit-button {

}